<div class="container" ng-controller="changePasswordCtrl">
    <div class="row">
        <div class="topo">
            <div id="logo">
                logo
            </div>
            <div id="links">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#/searchInternship">Procurar Estágios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#/account">Conta</a>
                    </li>
                    <div class="user">
                        {{name}} - {{usertype}}
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>

    <div class="row">
        <div id="formChangePassword">
            <form action="">
                <!-- <label for="">Senha Atual</label> -->
                <!-- <input class="form-control cp" type="password" name="" ng-model="user.currentPassword" id=""> -->
                <label for="">Nova Senha</label>
                <input class="form-control p" type="password" name="" ng-model="user.newPassword" id="">

                <div id="btnUpdatePassword">
                    <button class="btn btn-success btn-block" ng-click="updatePassword(user)" >Atualizar</button>
                </div>
            </form>
            <div id="msg">
                {{msg}}
            </div>
        </div>
    </div>

</div>