<div class="container" ng-controller="otherDataCtrl">
    <div class="row">
        <div class="topo">
            <div id="logo">
                logo
            </div>
            <div id="links">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#/searchInternship">Procurar Estágios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#/account">Conta</a>
                    </li>
                    <div class="user">
                        {{name}} - {{usertype}}
                    </div>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="formChangeData">
            <form action="">
                <label for="">Nome</label>
                <input class="form-control p" type="text" name="" ng-model="user.name" id="" readonly>
                <label for="">Sexo</label>
                <input class="form-control p" type="text" name="" ng-model="user.sex" id="" readonly>
                <label for="">Ano nascimento</label>
                <input class="form-control p" type="text" name="" ng-model="user.age" id="">
                <!-- <label for="">Sexo</label>
                <input class="form-control p" type="text" name="" ng-model="user.age" id=""> -->

                <div id="btnUpdateData">
                    <button class="btn btn-success btn-block" ng-click="updateData(user)" >Atualizar</button>
                </div>
            </form>
            <div id="msg">
                {{msg}}
            </div>
        </div>
    </div>
</div>