.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

.formFillResume {
    /* background-color: aqua; */
    margin-top: 20px;
    margin-left: 30%;
}

#localUfBairro {
   margin-bottom: 10px;
}

#graduation {
    /* margin-bottom: 10px; */
}

#startYear {
    /* margin-bottom: 10px; */
}

#conclusionYear {
    margin-bottom: 10px;
}

#english {
    margin-bottom: 10px;
}

#spanish {
    margin-bottom: 10px;
}

#goals {
    margin-bottom: 10px;
}

#personalData {
    margin-top: 25px;
    /* margin-bottom: 10px; */
}

#maritalStatus {
    margin-top: 10px;
}

#selectMaritalStatus {
    margin-bottom: 10px;
}

#btnSaveResume {
    margin-left: 30%;
}

.uploadResume{
    margin-top: 40px;
    margin-left: 37%;
    margin-bottom: 20px;
}

#nomeArquivo,
#exibeCurriculo {
    display: inline-block;
}

#nomeArquivo {
    margin-left: 30%;
}

#exibeCurriculo {
    margin-left: 1%;
}

#msgSucesso {
    color: blue;
    text-align: center;
}