.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

#labelCEP,
#labelLogradouro,
#labelNeighborhood,
#labelLocalidade,
#labelUF {
    width: 35%;
    margin-left: 30%;
}

#labelCEP {
    margin-top: 20px;
}

.studentZipcodeAddress,
.studentLogradouro,
.studentBairro,
.studentLocalidade,
.studentUF {
    width: 35%;
    margin-left: 30%;
}

.studentUF {
    margin-bottom: 20px;
}

#btnStudentAddress {
    width: 35%;
    margin-left: 30%;
    margin-bottom: 20px;
}