.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

.titulo{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.uploadBanner{
    margin-left: 40%;
    margin-bottom: 20px;
}

.exibeBanner{
    margin-left: 5%;
    margin-bottom: 20px;
}
