<div class="container" ng-controller="edirAdvertiseVacancyCtrl">
  <div class="row">
    <div class="topo">
        <div id="logo">
            logo
        </div>
        <div id="links">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#/searchInternship">Procurar Estágios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#/account">Conta</a>
                </li>
                <div class="user">
                    {{name}} - {{usertype}}
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    
</div>
    
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="formAdvertiseVacancy">
                <form name="formAnunciarVagas">
                    Área de atuação do escritório
                    <select class="form-control performanceArea" name="performanceArea" ng-model="newOpenVacancyOffice.performanceArea" id="" required>
                      <option value="">Selecione a área...</option>
                      <option value="Ambiental">Ambiental</option>
                      <option value="Empresarial">Empresarial</option>
                      <option value="Civil">Civil</option>
                      <option value="Criminal">Criminal</option>
                      <option value="Penal">Penal</option>
                      <option value="Trabalhista">Trabalhista</option>
                      <option value="Tributario">Tributário</option>
                    </select>
                    
                    <div id="localizacao">
                      Localização
                    </div>
                    <input class="form-control zipcode" type="text" ng-blur="getZipcode(newOpenVacancyOffice)" ui-br-cep-mask name="zipcode" ng-model="newOpenVacancyOffice.zipcode" id=""
                    placeholder="CEP">
                    <input class="form-control bairro" type="text" name="bairro" ng-model="newOpenVacancyOffice.bairro" id="" placeholder="Bairro" readonly>
                    <input class="form-control localidade" type="text" name="localidade" ng-model="newOpenVacancyOffice.localidade" id="" placeholder="Cidade" readonly>
                    <input class="form-control uf" type="text" name="uf" ng-model="newOpenVacancyOffice.uf" id="" placeholder="Estado" readonly>

                    <div id="escolaridadeMinima">
                      Semestre da faculdade
                    </div>
          
                    <select class="form-control minimumSchooling" name="minimumSchooling" ng-model="newOpenVacancyOffice.minimumSchooling" id="">
                      <option value="">Selecione...</option>
                      <option value="0">Sem exigência</option>
                      <option value="1º">1º semestre</option>
                      <option value="2º">2º semestre</option>
                      <option value="3º">3º semestre</option>
                      <option value="4º">4º semestre</option>
                      <option value="5º">5º semestre</option>
                      <option value="6º">6º semestre</option>
                      <option value="7º">7º semestre</option>
                      <option value="8º">8º semestre</option>
                      <option value="9º">9º semestre</option>
                      <option value="10">Último semestre</option>
                    </select>

                    <div id="informatica">
                      Conhecimento em Informática
                    </div>
                    
                    <input class="form-control tiKnowledge" type="text" name="ti" ng-model="newOpenVacancyOffice.tiKnowledge" id="" placeholder="Word, Excel...">
                    <!-- <div class="excel">
                      <div id="inputExcel">
                        <input class="form-control" type="checkbox" name="msExcel" ng-model="newOpenVacancyOffice.MSExcel" id="">
                      </div>
                      <div id="textoExcel">
                        Microsoft Excel
                      </div>
                    </div>
  
                    <div class="outlook">
                      <div id="inputOutlook">
                        <input class="form-control" type="checkbox" name="msOutlook" ng-model="newOpenVacancyOffice.MSOutlook" id="">
                      </div>
                      <div id="textoOutlook">
                        Microsoft Outlook
                      </div>
                    </div>
                    
                    <div class="word">
                      <div id="inputWord">
                        <input class="form-control" type="checkbox" name="msWord" ng-model="newOpenVacancyOffice.MSWord" id="">
                      </div>
                      <div id="textoWord">
                        Microsoft Word
                      </div>
                    </div> -->
                    <!-- <div ng-repeat='newOpenVacancyOffice in taskList'>
                      <div id="inputTi">
                        <input type='checkbox' ng-model='newOpenVacancyOffice.ti' />
                      </div>
                      <div id="textoTi">
                        {{newOpenVacancyOffice.newOpenVacancyOffice}}
                      </div>
                    </div>
                    <input type='text' ng-model='newTask' />
                    <button ng-click='addTask(newTask)'>Adicionar</button> -->


                    <div id="segundoIdioma">
                      Segundo idioma?
                    </div>
                      
                      <select class="form-control secLan" name="secLan" ng-model="newOpenVacancyOffice.secLan" id="">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>

                    <div id="qualIdioma">
                      <input class="form-control secondLanguage" type="text" name="secondLanguage" ng-model="newOpenVacancyOffice.secondLanguage" id=""
                      placeholder="Se sim, qual?">
                    </div>


                    <div id="jaEstagiou">
                      Já estagiou?
                    </div>
                    
                    <div class="estagiou">
                      <select class="form-control alreadyInterned" name="alreadyInterned" ng-model="newOpenVacancyOffice.alreadyInterned" id="">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>           
                    </div>

                    <div id="beneficios">
                      Benefícios
                    </div>

                    <div class="bolsaEstagio">
                      Valor bolsa-estágio
                      <input class="form-control internshipWorth" type="text" name="internshipWorth" ng-model="newOpenVacancyOffice.internshipWorth" >
                    </div>
                    
                    <div class="valeTransporte">
                      Vale transporte?
                      <select class="form-control transportationWorth" name="transportation" ng-model="newOpenVacancyOffice.transportationWorth" id="">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>
                    </div>

                    <div class="valeRefeicao">
                      Vale refeição?
                      <select class="form-control mealWorth" name="meal" ng-model="newOpenVacancyOffice.mealWorth" id="">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>
                    </div>

                    <div class="atividades">
                      Atividades do estagiário:
                      <input class="form-control activities" type="text" name="activities" ng-model="newOpenVacancyOffice.activities">
                    </div>

                    <div class="quantasVagas">
                      Quantas vagas?
                      <input class="form-control numberOfVacancy" type="number" name="numberOfVacancy" ng-model="newOpenVacancyOffice.numberOfVacancy">
                    </div>

                    <div class="previsaoInicio">
                      Previsão de início
                      <input class="form-control whenStart" type="text" name="whenStart" ui-date-mask ng-model="newOpenVacancyOffice.whenStart" placeholder="20/01/2020">
                    </div>

                    <div class="possibilidadeEfetivacao">
                      Possibilidade de efetivação pós-estágio?
                      <select class="form-control effectuation" name="effectuation" ng-model="newOpenVacancyOffice.effectuation" id="">
                        <option value="">Selecione...</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                      </select>
                    </div>
                    
                    <div class="observacao">
                      Observação
                      <div id="observacao">
                        <textarea class="form-control observation" name="observation" ng-model="newOpenVacancyOffice.observation" id="" cols="30" rows="5"></textarea>
                      </div>
                    </div>
                    

                    <div id="btnAdvertiseVacancy">
                        <button class="btn btn-success btn-block" ng-click="updateVacancy(newOpenVacancyOffice)">ATUALIZAR VAGA</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>