<div class="container" ng-controller="vacancyListCtrl">
    <div class="row">
        <div class="topo">
            <div id="logo">
                logo
            </div>
            <div id="links">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#/searchInternship">Procurar Estágios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#/account">Conta</a>
                    </li>
                    <div class="user">
                        {{name}} - {{usertype}}
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
    
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="vacancyList">
                <div>
                    Listagem de vagas
                </div>

                <div class="dataVacancyList">
                    <table>
                        <thead>
                            <!-- <td width="150"><b>id</b></td> -->
                            <td width="150"><b>Área atuação</b></td>
                            <td width="150"><b>Atividades</b></td>
                            <td width="150"><b>Bolsa-auxílio</b></td>
                            <td width="150"><b>Data publicação</b></td>
                            <td width="150"></td>
                        </thead>
                        <tr ng-repeat="lv in listVacancies">
                            <!-- <td>{{lv.idvacancy}}</td> -->
                            <td>{{lv.performanceArea}}</td>
                            <td>{{lv.activities}}</td>
                            <td align="right">{{lv.internshipWorth}}</td>
                            <td align="right">{{lv.publishDate}}</td>
                            <td align="right"><a href="#/showInterestedStudents/{{lv.idvacancy}}">Interessados</a></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>