.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

.uploadBanner{
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.exibeBanner{
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 20px;
}
