.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

#formChangePassword{
    margin-left: 35%;
    margin-top: 40px;
}

#btnUpdatePassword {
    margin-top: 20px;
    margin-bottom: 20px;
}