.container{
    background-color: rgb(216, 226, 226);
    border-radius: 10px;
}

.linkDados{
    margin-bottom: 20px;
}

.links{
    background-color: white;
    width: 30%;
    border-radius: 10px;
    margin-left: 33%;
}

.exibeDados{
    border-radius: 10px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}

#labelNome{
    margin-top: 10px;
}

#labelNome, #nome, #labelSexoEstudante, #sexoEstudante, #labelIdadeEstudante, #idadeEstudante, #labelEmailEstudante, #emailEstudante,
#labelUniversidade, #universidade, #labelInicio, #inicio, #labelConclusao, #conclusao, #labelOAB, #OAB, #labelCurriculo, #curriculo{
    display: inline-block;
}

#labelNome, #labelSexoEstudante, #labelIdadeEstudante, #labelEmailEstudante, #labelUniversidade, #labelInicio, #labelConclusao,
#labelOAB, #labelCurriculo{
    width: 20%;
    margin-left: 15%;
    margin-right: 10%;
}