<div class="container" ng-controller="cadastrarBannersCtrl">
    <div class="row">
        <div class="col-12 titulo">
            <h1>BANNERS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light navBarCustom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#/conta" role="button" aria-haspopup="true" aria-expanded="true">
                        Voltar
                      </a>
                    </li>
                  </ul>
                  {{name}}
                </div>
              </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12 uploadBanner">
            <button class="btn btn-primary" type="button" ng-click="uploadBanner()">Selecionar Banner</button>
        </div>
    </div>
    <div class="row">
        <div class="exibeBanner">
            <img src="{{ bannerView }}" height="200" width="200" alt="banner da faculdade">
        </div>
    </div>
    

</div>